@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');/*font-family: 'Red Hat Display', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/le-jour'); /*font-family: 'Le Jour', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap'); /*font-family: 'Clicker Script', cursive;*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F4EFEB;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background: transparent;
}

.lista{
    margin-left: 70vh;
    display: flex;
}

.lista li{
    list-style: none;
}

.lista li a{
    font-family: 'Red Hat Display', sans-serif;
    color: #864823;
    text-decoration: none;
    margin-left: 10vh;
    transition: 0.5s;
}

.lista a:hover{
    opacity: 1.5;
    color: black;
}

.container{
    margin-top: 4%;
    height: 730vh;
}

.container h3{
    margin-top: 5%;
    margin-left: 8%;
    color: #864823;
    letter-spacing: 8px;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Clicker Script', cursive;
}

.container h1{
    text-align: center;
    color: #864823;
    margin-left: 3%;
    letter-spacing: 10px;
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
}

.container-1{
    height: 60vh;
}


.foto-1{
    height: 60vh;
    background: url('../Img/foto-1-ifce.png') no-repeat;
    background-size: 800px;
    background-position: center;
    align-items: center;
}

.container-2{
    height: 90vh;
}

.txt-2{
    align-items: center;
    text-align: justify;
}

.txt-2 p{
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 5%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
}

.container-3{
    margin-top: 4%;
    height: 20vh;
}

.txt-3{
    align-items: center;
    text-align: justify;
}

.txt-3 p{
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 5%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
}

.container-4{
    display: flex;
    height: 70vh;
}


.foto-4{
    background: url('../Img/foto-2-ifce.png') no-repeat;
    background-size: 344px;
    background-position: left;
    width: 40%;
    align-items: center;
}

.txt-4{
    margin-top: 10%;
    margin-right: 5%;
    width: 70%;
    align-items: center;
    text-align: justify;
}

.txt-4 p{
    margin-left: 13%;
    margin-right: 10%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
}

.container-5{
    display: flex;
    height: 70vh;
}


.foto-5{
    background: url('../Img/foto-3-ifce.png') no-repeat;
    background-size: 350px;
    background-position: right;
    width: 40%;
    align-items: center;
}

.txt-5{
    margin-top: 10%;
    width: 60%;
    align-items: center;
    text-align: justify;
}

.txt-5 p{
    margin-left: 8%;
    margin-right: 9%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
}

.container-6{
    margin-top: 2%;
    display: flex;
    height: 80vh;
}


.foto-6{
    background: url('../Img/foto-4-ifce.png') no-repeat;
    background-size: 445px;
    background-position: left;
    width: 42%;
    align-items: center;
}

.txt-6{
    margin-top: 2%;
    margin-left: 7.9%;
    width: 60%;
    align-items: center;
    text-align: justify;
}

.txt-6 p{
    margin-left: 1%;
    margin-right: 10%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 4%;
}

.container-7{
    margin-top: 4%;
    height: 80vh;
}

.txt-7{
    align-items: center;
    text-align: justify;
}

.txt-7 p{
    margin-left: 8%;
    margin-right: 5%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 2%;
}

.container-8{
    margin-top: 2%;
    display: flex;
    height: 55vh;
}


.foto-8{
    background: url('../Img/foto-5-ifce.png') no-repeat;
    background-size: 500px;
    background-position: right;
    width: 45%;
    align-items: center;
}

.txt-8{
    margin-top: 7%;
    width: 55%;
    align-items: center;
    text-align: justify;
}

.txt-8 p{
    margin-left: 8%;
    margin-right: 10%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
}

.container-9{
    margin-top: 2%;
    display: flex;
    height: 70vh;
}


.foto-9{
    background: url('../Img/foto-6-ifce.png') no-repeat;
    background-size: 450px;
    background-position: left;
    width: 42%;
    align-items: center;
}

.txt-9{
    margin-top: 8%;
    margin-left: 5%;
    width: 60%;
    align-items: center;
    text-align: justify;
}

.txt-9 p{
    margin-left: 5%;
    margin-right: 10%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
}

.container-10{
    margin-top: 2%;
    height: 70vh;
}

.txt-10{
    align-items: center;
    text-align: justify;
}

.txt-10 p{
    margin-left: 8%;
    margin-right: 5%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 2%;
    
}