@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');/*font-family: 'Red Hat Display', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/le-jour'); /*font-family: 'Le Jour', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap'); /*font-family: 'Clicker Script', cursive;*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F4EFEB;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background: transparent;
}

.lista{
    margin-left: 70vh;
    display: flex;
}

.lista li{
    list-style: none;
}

.lista li a{
    font-family: 'Red Hat Display', sans-serif;
    color: #864823;
    text-decoration: none;
    margin-left: 10vh;
    transition: 0.5s;
}

.lista a:hover{
    opacity: 1.5;
    color: #000000;
}

.container{
    border: 2px solid red;
    margin-top: 2%;
    height: 700vh;
}

.container h1{
    text-align: center;
    color: #864823;
    margin-left: 5%;
    letter-spacing: 10px;
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
}

.container h3{
    margin-top: 6%;
    margin-left: 5%;
    color: #864823;
    letter-spacing: 8px;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Clicker Script', cursive;
}

.container-1{
    margin-top: 2%;
    display: flex;
    height: 65vh;
}


.img-1{
    background: url('../Img/projeto-1.png') no-repeat;
    background-size: 500px;
    background-position: left;
    width: 40%;
    align-items: center;
}

.txt-1{
    margin-top: 3%;
    margin-left: 5%;
    width: 60%;
    align-items: center;
    text-align: justify;
}

.txt-1 p{
    margin-left: 5%;
    margin-right: 10%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 2%;
}

.container-2{
    margin-top: 6%;
    display: flex;
    height: 65vh;
}


.img-2{
    background: url('../Img/projeto-2.png') no-repeat;
    background-size: 450px;
    background-position: right;
    width: 40%;
    align-items: center;
}

.txt-2{
    margin-left: 5%;
    width: 60%;
    align-items: center;
    text-align: justify;
}

.txt-2 p{
    margin-left: 5%;
    margin-right: 10%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 2%;
}

.container-3{
    margin-top: 4%;
    display: flex;
    height: 40vh;
}

.txt-3{
    margin-left: 5%;
    align-items: center;
    text-align: justify;
}

.txt-3 p{
    margin-left: 10%;
    margin-right: 10%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 2%;
}

.container-4{
    margin-top:2%;
    display: flex;
    height: 65vh;
}


.img-4{
    background: url('../Img/projeto-3.png') no-repeat;
    background-size: 480px;
    background-position: left;
    width: 40%;
    align-items: center;
}

.txt-4{
    margin-top: 3%;
    margin-left: 5%;
    width: 60%;
    align-items: center;
    text-align: justify;
}

.txt-4 p{
    margin-left: 5%;
    margin-right: 10%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 2%;
}

.container-5{
    margin-top: 6%;
    display: flex;
    height: 65vh;
}


.img-5{
    background: url('../Img/projeto-5.png') no-repeat;
    background-size: 400px;
    background-position: right;
    width: 40%;
    align-items: center;
}

.txt-5{
    margin-top: 2%;
    margin-left: 5%;
    width: 60%;
    align-items: center;
    text-align: justify;
}

.txt-5 p{
    margin-left: 5%;
    margin-right: 10%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 2%;
}