@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');/*font-family: 'Red Hat Display', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/le-jour'); /*font-family: 'Le Jour', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap'); /*font-family: 'Clicker Script', cursive;*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F4EFEB;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background: transparent;
}

.lista{
    margin-left: 70vh;
    display: flex;
}

.lista li{
    list-style: none;
}

.lista li a{
    font-family: 'Red Hat Display', sans-serif;
    color: #864823;
    text-decoration: none;
    margin-left: 10vh;
    transition: 0.5s;
}

.lista a:hover{
    opacity: 1.5;
    color: black;
}

