@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');/*font-family: 'Red Hat Display', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/le-jour'); /*font-family: 'Le Jour', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap'); /*font-family: 'Clicker Script', cursive;*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F4EFEB;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background: transparent;
}

.lista{
    margin-left: 70vh;
    display: flex;
}

.lista li{
    list-style: none;
}

.lista li a{
    font-family: 'Red Hat Display', sans-serif;
    color: #864823;
    text-decoration: none;
    margin-left: 10vh;
    transition: 0.5s;
}

.lista a:hover{
    opacity: 1.5;
    color: black;
}

.container{
    margin-top: 2%;
    display: flex;
    height: 70vh;
}

.img-container{
    background: url('../Img/sobre-mim.png') no-repeat;
    background-size: 450px;
    background-position: right;
    width: 40%;
    align-items: center;
}

.txt-container {
    margin-left: 5%;
    width: 45%;
    align-items: center;
    text-align: justify;
}

.txt-container p{
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 15%;
}

.txt-container2{
    align-items: center;
    text-align: justify;
}

.txt-container2 p{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
}

.vida-pessoal{
    height: 90vh;
    align-items: center;
    text-align: justify;
}

.vida-pessoal h1{
    color: #864823;
    margin-left: 10%;
    margin-top: 4%;
    letter-spacing: 8px;
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Clicker Script', cursive;
}

.container-esposa{
    margin-top: 4%;
    display: flex;
    height: 70vh;
}

.foto-esposa{
    background: url('../Img/jessyca-casada.png') no-repeat;
    background-size: 400px;
    background-position: right;
    width: 40%;
    align-items: center;
}

.txt-esposa{
    margin-left: 5%;
    width: 50%;
    align-items: center;
    text-align: justify;
}

.txt-esposa p{
    margin-left: 5%;
    margin-right: 10%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 10%;
}

.container-mae{
    margin-top: 2%;
    display: flex;
    height: 70vh;
}

.txt-mae{
    margin-left: 5%;
    width: 50%;
    align-items: center;
    text-align: justify;
}

.txt-mae p{
    margin-left: 10%;
    margin-right: 8%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 15%;
}

.foto-mae{
    background: url('../Img/jessyca-mae.png') no-repeat;
    background-size: 400px;
    background-position: right;
    width: 30%;
    align-items: center;
}

.container-nascimento{
    display: flex;
    height: 70vh;
}

.foto-nascimento{
    background: url('../Img/nascimento.png') no-repeat;
    background-size: 400px;
    background-position: right;
    width: 40%;
    align-items: center;
}

.txt-nascimento{
    margin-left: 5%;
    width: 50%;
    align-items: center;
    text-align: justify;
}

.txt-nascimento p{
    margin-left: 5%;
    margin-right: 10%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 10%;
}

.container-familia{
    margin-top: 2%;
    display: flex;
    height: 80vh;
}

.txt-familia{
    margin-left: 5%;
    width: 60%;
    align-items: center;
    text-align: justify;
}

.txt-familia p{
    margin-left: 10%;
    margin-right: 8%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 2%;
}

.foto-familia{
    background: url('../Img/familia.png') no-repeat;
    background-size: 500px;
    background-position: left;
    width: 50%;
    align-items: center;
}

.container-amizade{
    display: flex;
    height: 100vh;
}

.foto-amizade{
    background: url('../Img/amizade.png') no-repeat;
    background-size: 400px;
    background-position: right;
    width: 40%;
    align-items: center;
}

.txt-amizade{
    width: 55%;
    align-items: center;
    text-align: justify;
}

.txt-amizade p{
    margin-left: 5%;
    margin-right: 10%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 20%;
}

.container-cross{
    display: flex;
    height: 100vh;
}

.txt-cross{
    margin-left: 5%;
    width: 70%;
    align-items: center;
    text-align: justify;
}

.txt-cross p{
    margin-left: 10%;
    margin-right: 8%;
    color: #864823;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 10%;
}

.foto-cross{
    background: url('../Img/cross.png') no-repeat;
    background-size: 400px;
    background-position: left;
    width: 45%;
    align-items: center;
}